html, body {
  height: 100%;
  margin: 0px;
  padding-top: 30px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.container {
  margin: 20px auto;
  width: 80%;
  /*padding: 0px 20px 20px 20px;
  border: 1px solid #ccc;*/
}

th {
  text-align: left;
}
